.d-flex{display: flex;}
.bold{font-weight: bold;}
.movie-info{
  // border: solid 1px red;;
  padding: 10px 10px;
  display: flex;
  justify-content: flex-start;
  box-shadow: 0 3px 10px 0 #aaa;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
width: 90%;
margin: 0 auto;
  img{width: 250px!important;}
  .movie-desc{
    padding-left: 10px;
    p{
      font-size: 14px;
      font-weight: 500;
      line-height: 18px;
      margin: 10px 0px;
    }
  }
  .close{
   
    background-color: #ccc;
    width: 24px;
    height: 24px;
    padding: 1px 4px;
    text-align: center;
    border-radius: 16px;
    cursor: pointer;
    font-size: 14px;
  }
}
.no-poster-text{font-weight: bold;
  font-size: 14px;
text-align: center;
color: red;
padding: 20px 0px;}
 

@media only screen and (min-width: 360px) and (max-width: 768px) {
  .movie-info{
    // border: solid 1px red;;
    padding: 10px 10px;
    display: flex;
    justify-content: flex-start;
    box-shadow: 0 3px 10px 0 #aaa;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
    img{width: 100px!important;}
    .movie-desc{
      padding-left: 0px;
      p{
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
        margin: 7px 0px;
      }
    }
    .close{
     
      background-color: #ccc;
      width: 24px;
      height: 24px;
      padding: 1px 4px;
      text-align: center;
      border-radius: 16px;
      cursor: pointer;
      font-size: 14px;
      position: absolute;
      right: 4%;
    }
  } 
  
}